*,*::before,*::after{
    margin: 0;
    padding:0 0.3rem;
    box-sizing: border-box;
}
body{
    width: 100%;
    height: 100%;
    overflow-y:hidden ;
    
}
#table_container{
    margin: auto 0 ;
    table{
        background: #0AB2DC;
        border:1px solid black;
        padding: .5rem;
        border-radius: 3px;
        
        th,td{
            border: 1px solid black;
            border-radius: 2px;
            text-align: center;
            padding: .2rem;
            cursor: pointer;
        }
        tr:hover>td{
            background-color: black !important;
            color: white;
        }
        th{
            background-color: black !important;
            color: white;
            font-family: 'Times New Roman', Times, serif;
        }
        .input{
            background:rgba(0,230,255,.51) ;
        }
        .output{
            background:rgba(51,77,177,.5) ;
        }
        
    }
    
}

.menu{
    transition: 200ms;
    width: 20%;
    height: 100%;
    display:flex;
    position: fixed;
    top: 0;
    right: -25%;
    justify-content: center;
    flex-wrap:wrap ;
    gap: 0.3rem;
    background: #00A2FF;
    padding: .7rem;
    border-radius: .3em;
    border:3px solid rgb(55, 0, 255);
    button{
        flex-basis: 90%;
        padding: 0.3rem;
        background-color: #07D6FF;
        border: 1px solid white;
        border-radius: 3px;
        cursor: pointer;
    }
    div{
        margin:0 .3rem;
        display: flex;
        background-color: #ffffff;
        padding: 0.3rem;
        gap:0.3rem;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        border-radius: 2px;
        button{
            width: 90%;
        }
        input{
            
            width: 90%;
            border: none;
            outline: none;
            padding: 0.2rem;
            border-bottom:1.5px solid rgb(0, 0, 0) ;
        }
        
    }
}
