*,*::before,*::after{
    margin: 0;
    padding:0 0.3rem;
    box-sizing: border-box;
}
body{
    width: 100%;
    height: 100%;
    overflow: auto;
    
}
#table_container{

    table{
        font-size: 1em;
        width: 100%;
        border: 1.5px solid black;
        text-align: center;
        color: white ;
        font-weight: bold;
        td,th{
            padding: 0.3em;
            border: 1.5px solid black;
            border: none;
            outline: none;
            background: rgb(17, 135, 194);
            border-radius: 2.5px;
            cursor: pointer;
            text-transform: uppercase;
            
            
        }
        tr:hover>td{
            background: rgb(0,0,0);
        }
        .output{
            border: 2px dashed rgb(81, 98, 129);
            background-color: rgba(0, 48, 71, 0.7);
        }
    }
    
}
#Button_container,.menu{
    padding: .3rem 0;
    display: flex;
    flex-wrap: wrap;
    gap:0.3rem;
    button{
        color: rgb(193, 251, 255);
        padding: 0.3rem;
        border: none;
        outline: none;
        background: rgb(8, 155, 228);
        border-radius: 2px;
        font-weight: bolder;
        &:hover{
            background: rgba(8, 155, 228,0.8);
        }
    }
    @media only screen and (max-width: 600px) {
        & {
          flex-direction: column;
          
          +button{
                margin: 0;
                margin-top: 0;
          }
        }
        
    }
}

.menu{
    background: rgb(7, 88, 128);
    padding: 1rem;
    width: 30vw;
    display: none;
    border-radius: 2px;
    border:3px solid rgb(0, 102, 255);
    box-shadow: 0px 0px 70px rgb(0, 102, 255);
    button{
        background: rgba(25, 48, 59, 0.8);
    }
}